@import "../node_modules/bootstrap/scss/bootstrap"
@import "variables"
@import "components/page-head"
@import "components/header"
@import "components/order"
@import "components/about"
@import "components/digits"
@import "components/products"
@import "components/request"
@import "components/steel"
@import "components/experience"
@import "components/footer"
@import "pages/contacts"
@import "pages/certificates"
@import "pages/quality"
@import "pages/catalog"
@import "pages/suppliers"
@import "pages/history"

body
  font-size: 16px
  font-family: 'Roboto', sans-serif

h1, h2, h3, h4, h5, h6
  margin: 0

.slick-arrow
  width: 14px
  height: 24px

.slick-arrow.slick-prev
  left: 25px
  background: url("../images/arrow.svg") no-repeat center center / cover
  z-index: 1
  transform: rotate(-180deg) translate(0, 50%)

  &::before
    content: none

.slick-arrow.slick-next
  right: 25px
  background: url("../images/arrow.svg") no-repeat center center / cover

  &::before
    content: none

label
  margin-bottom: 0
  width: 100%

ul
  margin: 0

.title__line
  background: $mainColor
  border-radius: 5px
  height: 3px
  width: 300px
  margin: 20px auto 40px auto

.dropdown
  position: relative
  display: inline-block

.dropdown-content
  display: none
  position: absolute
  background-color: #485D6D
  min-width: 175px
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1
//border-radius: 0 0 10px 10px


.dropdown-content
  & a
    color: white
    padding: 10px 15px
    text-decoration: none
    display: block
    font-size: 14px

.dropdown-content
  & a:hover
    background-color: darken(#485D6D, 5%)

.dropdown:hover .dropdown-content
  display: block
