.about
  padding: 60px 0

  &-content
    &__title
      font-size: 22px
      font-weight: bold
      margin-bottom: 20px

    &__text
      font-size: 18px
      line-height: 21px

  &-card
    display: flex
    flex-direction: column
    align-items: center

    &__link
      border: none
      background: $mainColor
      color: white
      font-size: 18px
      font-weight: 500
      margin-top: 15px
      border-radius: 10px
      width: 100%
      height: 40px

      > a
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        color: white

        &:hover
          text-decoration: none
          color: white

      &:hover
        background: darken($mainColor, 5%)

@include media-breakpoint-only(xs)
  .about
    padding: 20px 0 0 0
    &-content
      &__text
        font-size: 14px
    &-card:first-child
      margin-bottom: 20px