.header
  padding: 40px 0
  &__menu
    display: flex
    justify-content: space-between

.menu__link
  color: $mainColor
  border-bottom: 2px solid white
  &:hover
    color: darken($mainColor, 5%)
    text-decoration: none
    border-bottom: 2px solid darken($mainColor, 5%)