.catalog
  &__title
    & span
      margin-top: 10px
      font-size: 22px
      display: block
      font-weight: normal

  &__name
    margin-bottom: 20px

  &__table
    text-align: center

    > thead
      background: $mainColor
      color: white

      > tr:first-child
        > th
          border: none

.table thead th
  vertical-align: middle

.table td
  vertical-align: middle

.table
  margin-bottom: 20px